body {
    font-size: 1.2em;
    -webkit-text-size-adjust: 100%;
    background-color: #e5e5e5;
    color: #171717;
}
.content {
    border: .5em;
    border-style: double;
    padding: 1em;
    margin-bottom: 1em;
}
.content:not(header) > *:not(h1) {
    background-color: rgba(200, 200, 200, 0.5);
}
.content span {
    color: #373f4b;
}
header.content {
    background-position: center top;
    padding: 10px;
    overflow: auto;
}

.content article:not(:last-child) {
    border-bottom: .2em;
    border-bottom-style: solid;
}
.content article::last-child {
    margin-bottom: .2em;
}
.content article pre {
    overflow: auto;
    padding: .2em;
}
.content article pre, .content article code {
    background-color: #b5b5b5;
}

h1, h1 a {
    background-color: #000;
    color: #FFF!important;
}

a {
    text-decoration-line: underline;
    text-decoration-style: dashed;
}
a:hover {
    text-decoration: none;
}

div#logo {
    float: left;
    width: 45px;
    height: 37px;
}
div#header a {
    text-decoration: none;
}

a:link, a:visited, a.current:hover, a.current:active {
    color: #2d2d2d;
}
a:hover, a:active, a.current {
    color: #a09e9e;
}

header pre {
    overflow: hidden;
    margin: 0px;
    padding: 1px;
    font-size: 10px;
}

nav {
    float: right;
    margin: 0px;
    padding: 0px;
}
nav fieldset {
    border: 0;
    margin-left: 0.5em;
    border: 2px dashed;
}
nav fieldset legend {
    text-align: center;
}
#menu {
    list-style-type: none;
    padding: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}
ul#menu li {
    padding: 5px;
    border-top: 2px dashed;
}
ul#menu li:first-child {
    border: none;
}
ul#menu li a {
    display: block;
}
h1, h2, h3, h4, h5, h6 {
    margin: 1em 0 0.5em 0;
}
p {
    margin: 1em 0;
}

.erreur {
    color: #ff1818;
}
span.dateCreation {
    color: #FFF;
    background-color: #171717;
    font-size: .8em;
    font-weight: bold;
    padding: 0.2em;
}
table {
    border: 1px solid;
}
td, th {
    padding: 10px;
    font-size: 1.2em;
}
td:not(:last-child), th:not(:last-child) {
    border-right: solid;
    border-right-width: 1px;
}
tr:not(:last-child) td, th {
    border-bottom: solid;
    border-bottom-width: 1px;
}
.content img {
    max-width: 100%;
    max-height: 800px;
}
.content img:hover {
    max-width: 100%;
    max-height: none;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #171717;
        color: #d6d6d6;
    }
    .content:not(header) > *:not(h1) {
        background-color: rgba(25, 25, 25, 0.5);
    }
    .content span {
        color: #6C798D;
    }
    .content article pre, .content article code {
        background-color: #2d2d2d;
    }
    h1, h1 a {
        background-color: #d6d6d6;
        color: #000!important;
    }
    a:link, a:visited, a.current:hover, a.current:active {
        color: #CFCFCF;
    }
    a:hover, a:active, a.current {
        color: #616161;
    }
    .erreur {
        color: #FD8A8A;
    }
    span.dateCreation {
        color: #171717;
        background-color: #FFF;
    }
    div#logo {
        background-image: url(logo_me_blanc.png);
    }
}
