body {
    background-color: #FFF;
    color: #000;
    font-size: 0.5em;
}
header {
    display:none;
}
.content > * {
    background-color: #FFF;
}
.content {
    padding: 0;
    border: none;
    background-image: none;
}

.content article pre {
    background-color: #EEE;
}

header pre {
    overflow: hidden;
    margin: 0px;
    padding: 1px;
    font-size: 10px;
}

h1, h1 a {
    background-color: #DDD;
}
a {
    text-decoration: none;
}
a:link, a:visited, a.current:hover, a.current:active {
    color: #616161;
}
a:hover, a:active, a.current {
    color: #CFCFCF;
}
div, p, ul, pre {
    page-break-inside: avoid;
}
/* Infos tableaux plus gosses */
/*td, th {
    font-size: 2.2em;
}*/
